header {
  text-align:center;
}

.headline {
  color: skyblue;
  font-size: 50px;
  padding-left: 5cm;
  padding-right: 5cm;
  margin: 15px;
  text-align:center;
}

body {
  background-color: rgb(238, 228, 214)
}

h2 {
  text-align:center;
  color: #333;
  margin-top: 0px;
}

.img1 {
  text-align:center;
}

p {
  text-align:center;
}

.outline {
  text-align: center;
  display        : inline-block;
  color          : skyblue;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;        /* 文字の影 */
}