body {
  color: #333;
  font-size: large;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-top: 0px;
  margin-left: 240px;
  margin-right: 240px;
  background-color: rgb(238, 228, 214)
}

  .menu ul{
    margin-top: 1px;
    margin-left: 1px; 
    margin-right: 0.5px;

    padding-top: 14px;
    padding-left: 0;
    padding-right: 0; 
    list-style: none;
    }
    .menu li{ 
    display: inline; 
    padding: 0; 
    margin: 0; 
    float: left;
    }
    .menu li a{
    display: block; 
    border-left: 0.5px solid #474655;
    border-top: 0.5px solid #474655;
    border-bottom: 0.5px solid #474655;
    border-right: 0.5px solid #474655;
    background-color: #fff;
    padding: 3px;
    text-decoration: none;
    color: #333;
    width: 188px; 
    margin: 1px 0px;
    text-align: center;
    font-size: 14px;
    }
    .menu li a:hover{
    border-left: 1px solid #474655;
    border-top: 1px solid #474655;
    border-bottom: 1px solid #474655;
    background-color: #F3D898;
    }
    .menu #haji li a{
    display: block; 
    border: 1px solid #474655;
    background-color: #fff;
    padding: padding: 3px 10px;;
    text-decoration: none;
    color: #333;
    width: 100px; 
    margin: 1px 0px;
    text-align: center;
    font-size: 14px;
    }
    .menu #haji li a:hover{
    display: block; 
    border: 1px solid #474655;
    background-color: #F3D898;
    }


.top img {

  width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    top: 20px;
    bottom: 7px;
    left: 0px;
    right: 0px;
    margin: auto;
   
}


h1 {
  color: skyblue;
  font-size: 50px;
  padding-left: 5cm;
  padding-right: 5cm;
  margin: 15px;
  text-align:center;
  /* タイトル */
} 

h3 {
  text-align:center;
  margin-top: 0px
}

p {
  text-align:center;
}
.concept1  {
  padding-top: 7px;
  padding-bottom: 7px;
}

.img1{
  text-align: center;;
}

.img2{
  text-align: center;
}

.outline {
  display        : inline-block;
  color          : skyblue;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;        /* 文字の影 */
}
section {
  text-align: center;
}