body {
  color: #333;
  font-size: large;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-top: 10px;
  margin-left: 240px;
  margin-right: 240px;
  text-align: center;
  background-color: rgb(238, 228, 214)
}