body {
  color: #333;
  font-size: large;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  /* padding-left: auto;
  padding-right: auto; */
  margin-top: 10px;
  margin-left: 240px;
  margin-right: 240px;
  text-align: center;
  background-color: rgb(238, 228, 214)
}

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu {
    display: block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    border: 3px solid transparent;
    border-radius: 50%;
    background-color: skyblue;
  }
  .menu div.menubar {
    width: 30px;
    margin: 17px auto;
  }
  .menu div.menubar .bar {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 3px;
    border-radius: 2px;
    background-color: #ffffff;
  }
  .menu ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    text-align: center;
    opacity: 0;
  }
  .menu ul li {
    display: inline-block;
  }
  .menu ul li a {
    display: inline-block;
    padding: 0.7em 0.5em;
    -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
    text-decoration: none;
    color: white;
    border-bottom: 4px solid transparent;
    height: 56px;
    line-height: 2em;
  }

  .menu ul li a:hover {
    color: #ffffff;
    background-color: aquamarine;
  }
  .menu ul li a:target {
    border-bottom-color: #06132e;
  }
  /* クリックした時の動き */
  #cp_navimenuid {
    display: none;
  }
  #cp_navimenuid:checked ~ .menu {
    width: 100%;
    height: 60px;
    border: 3px solid skyblue;
    border-radius: 5px;
    background-color:skyblue;
  }
  #cp_navimenuid:checked ~ .menu > ul {
    display: block;
    opacity: 1;
  }
  #cp_navimenuid:checked ~ .menu > .menubar {
    display: none;
  }


  h1 {
     
    color:skyblue;
    text-align: center;
    margin-bottom: 0px;
  }

  h3 {
    padding-left: auto;
    padding-right: auto;
    color: #333;
  }

  .selectburger a{
    font-size: large;
  }

  h6 {
    margin-top: 0px;
    padding-top: 0px;
    color: #333;
  }

  .outline {
    display        : inline-block;
    color          : skyblue;            /* 文字の色 */
    font-size      : 30pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         1px  1px 1px white,
        -1px  1px 1px white,
         1px -1px 1px white,
        -1px -1px 1px white,
         1px  0px 1px white,
         0px  1px 1px white,
        -1px  0px 1px white,
         0px -1px 1px white;        /* 文字の影 */
  }