body {
  color: #333;
  font-size: large;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin-top: 10px;
  margin-left: 240px;
  margin-right: 240px;
  text-align: center;
  background-color: rgb(238, 228, 214)
}

h1 {
  margin-top: 0px; 
  margin-bottom: 3px;
}

.outline {
  display        : inline-block;
  color          : skyblue;            /* 文字の色 */
  font-size      : 36pt;               /* 文字のサイズ */
  letter-spacing : 4px;                /* 文字間 */
  text-shadow    : 
       1px  1px 1px white,
      -1px  1px 1px white,
       1px -1px 1px white,
      -1px -1px 1px white,
       1px  0px 1px white,
       0px  1px 1px white,
      -1px  0px 1px white,
       0px -1px 1px white;        /* 文字の影 */
}